:root {
    --post-border-radius: 12px;
    --post-hover-transition: 0.3s ease-in-out;
    --theme-transition-speed: 0.3s ease-in-out; // Match global theme transition
}

.post-list {
    display: grid;
    grid-gap: 1rem;
}

.post-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.post-link article {
    background-color: var(--bg-color);
    border: 2px solid transparent;
    border-radius: var(--post-border-radius);
    padding: 1rem;
    transition: 
        background-color var(--theme-transition-speed),
        border-color var(--post-hover-transition),
        transform var(--post-hover-transition),
        color var(--theme-transition-speed);
    
    &:hover {
        border-color: var(--accent-color);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: scale(1.02);
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: var(--text-color);
        transition: color var(--theme-transition-speed);
    }

    .post-date {
        display: block;
        color: var(--sophisticated-grey-light);
        margin-bottom: 0.5rem;
        font-size: 0.8em;
        transition: color var(--theme-transition-speed);
    }

    .post-summary {
        color: var(--text-color);
        opacity: 0.8;
        transition: 
            color var(--theme-transition-speed),
            opacity var(--theme-transition-speed);
    }
}

// Cursor change to indicate clickability
.post-link {
    cursor: pointer;
}