blockquote {
  border-left: 4px solid var(--accent-color);
  padding-left: 1em;
  margin-left: 0;
  margin-right: 0;

  blockquote {
    border-left: 8px solid var(--accent-color);
    padding-left: 1em;
    margin-left: 0.5em;

    blockquote {
      border-left: 12px solid var(--accent-color);
      padding-left: 1em;
      margin-left: 1em;
    }
  }
}
