<!doctype html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <script src="/js/theme-toggle.js"></script>
    <script>
        document.documentElement.classList.toggle('dark-mode', 
            localStorage.getItem('theme') === 'dark' || 
            (!localStorage.getItem('theme') && window.matchMedia('(prefers-color-scheme: dark)').matches)
        );
    </script>
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% block extra_head %} {% endblock extra_head %}
</head>

<body>
    <header>
        <nav>
            <a href="{{ get_url(path="atom.xml", trailing_slash=false) }}">/rss</a>
            {% for menu in config.extra.menu %}
            <a href="{{ get_url(path=menu.url) }}">{{ menu.name }}</a>
            {% endfor %}
        </nav>
        <div class="theme-toggle-container">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
                <span class="moon-icon"></span>
                <span class="sun-icon"></span>
                <span class="ball"></span>
            </label>
        </div>
    </header>
    
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>