<!doctype html>
<html lang="{{ lang }}">

<head>
    <link rel="stylesheet" href="/main.css">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    {% block extra_head %} {% endblock extra_head %}
</head>

<body>
    <header>
        <nav>
            <a href="{{ get_url(path=" atom.xml", trailing_slash=false) }}">/rss</a>
            {% for menu in config.extra.menu %}
            <a href="{{ get_url(path=menu.url) }}">{{ menu.name }}</a>
            {% endfor %}
        </nav>
    </header>
    <button class="theme-toggle" aria-label="Toggle Theme">Toggle Theme</button>
    <div>
        {% block content %}
        <div>
            {% for post in section.pages %}
            <h1>
                <a href="{{ post.permalink }}">{{ post.title | safe }}</a>
            </h1>
            <span>{{ post.date | date(format="%Y-%m-%d") }}</span>
            {% endfor %}
        </div>
        {% endblock content %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const themeToggle = document.querySelector('.theme-toggle');
            const htmlElement = document.documentElement;

            // Check for saved theme preference or default to dark
            const savedTheme = localStorage.getItem('theme') || 'dark';
            if (savedTheme === 'light') {
                htmlElement.classList.add('dark-mode');
            }

            themeToggle.addEventListener('click', () => {
                htmlElement.classList.toggle('dark-mode');
                
                // Save theme preference
                const currentTheme = htmlElement.classList.contains('dark-mode') ? 'light' : 'dark';
                localStorage.setItem('theme', currentTheme);
            });
        });
    </script>
</body>

</html>