<!doctype html>
<html lang="{{ lang }}">
    <head>
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        {% block extra_head %} {% endblock extra_head %}
    </head>
    <body>
        <div>
            {% block content %}
            <div>
                {% for post in section.pages | reverse %}
                <h1>
                    <a href="{{ post.permalink }}">{{ post.title | safe }}</a>
                </h1>
                <span>{{ post.date | date(format="%Y-%m-%d") }}</span>
                {% endfor %}
            </div>
            {% endblock content %}
        </div>
    </body>
</html>
