{%- extends "base.html" -%}
{% block content %}
<div class="content">
    <h1 class="title">
        <div class="keyboard">
            <span class="key">K</span>
            <span class="key">E</span>
            <span class="key">Y</span>
            <span class="key">B</span>
            <span class="key">O</span>
            <span class="key">A</span>
            <span class="key">R</span>
            <span class="key">D</span>
        </div>
        <div class="aurora">
            <div class="aurora__item"></div>
            <div class="aurora__item"></div>
            <div class="aurora__item"></div>
            <div class="aurora__item"></div>
        </div>
    </h1>
    <p class="subtitle">Made with love and only the CSS.</p>
</div>
{% endblock content %}