*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

.content {
  text-align: center;
}

.title {
  font-size: var(--fs);
  font-weight: 800;
  letter-spacing: var(--ls);
  position: relative;
  overflow: hidden;
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
}

// .subtitle {}

// Mixin for creating press down animations
@mixin press-down-animation($name, $peak-time, $duration) {
  @keyframes #{$name} {

    #{$peak-time - 5%},
    #{$peak-time},
    100% {
      transform: translateY(0);
    }

    #{$peak-time - 2.5%} {
      transform: translateY(10px);
    }
  }
}

// Generate press down animations for multiple children
@mixin generate-press-down-animations($max-children: 20) {
  @for $i from 1 through $max-children {
    // Vary peak times and durations for more natural animation
    $peak-time: percentage($i * 0.05); // Reduced from 0.1 to spread animations more evenly
    $duration: 2 + ($i * 0.15); // Slightly adjusted duration

    @include press-down-animation(pressDown#{$i}, $peak-time, $duration);

    .key:nth-child(#{$i}) {
      animation: pressDown#{$i} #{$duration}s infinite;
    }
  }
}

.key {
  font-size: 15vw;
  display: inline-block;
  letter-spacing: -1vw;
  transition: transform 0.2s;
}

@include generate-press-down-animations(20);